Package: com.nswebfrog.revealloader
Name: CCRevealLoader 2
Depends: mobilesubstrate, preferenceloader, applist
Version: 2.0.1
Architecture: iphoneos-arm
Description: Dynamically loads Reveal server framework into iOS applications.
 CCRevealLoader dynamically loads RevealServer.framework into iOS apps
 on jailbroken devices. Configuration is via the CCRevealLoader 2 menu in Settings.app
 For more info, see https://github.com/vadimszzz/CCRevealLoader_2 and http://revealapp.com
Maintainer: Vadim Egorov <vadimszzz@mail.ru>
Author: Vadim Egorov <vadimszzz@mail.ru>
Section: Tweaks
